@import '../../styles/mixins.scss';

.actor__item {
  // margin: 20px;
  margin-bottom: 20px;
  height: 300px;
  width: 20%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobileL {
    width: 33%;
    height: auto;
    padding: 0 5px;
  }

  .actor__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: #c3aed6;
    background: #222;
    width: 85%;
    height: 270px;
    // border-radius: 15px;
    text-decoration: none;
    overflow: hidden;
    transition: transform 0.1s ease-in;
    padding: 5px;    
    @include mobileL {
      height: 190px;
      padding: 5px;
      width: 100%;
    }
    &:hover {
      transform: translateY(-10px);
    }
  }

  .actor__item-img {
    overflow: hidden;
    // border-radius: 15px;
    height: 80%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobileL {
      height: 85%;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .actor__item-name {
    margin: 10px 5px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    @include tablet {
      font-size: 14px;
    }
    @include mobileL {
      font-size: 12px;
      margin: 0;
      margin-top: 5px;
    }
  }
}
