.loader {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, 50%);
    width: 100%;
    height: calc(100vh - 110px);
    display: flex;
    align-items: center;
    justify-content: center;
}