* {
    box-sizing: border-box;
    font-family: 'Montserrat', 'Poppins', 'Lato', sans-serif;
    &::selection {
        color: #fff;
        background: #ed1543;
    }
}

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1280px;
}

a {
    text-decoration: none;
}