@import "../../styles/mixins.scss";

.genresHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 20px 50px 0;
  padding: 0 50px;
  height: 70px;
  background: #111;
  @include tablet {
    padding: 0 20px;
  }
  @include mobileL {
    padding: 0 10px;
  }

  .sorting .sorting__btn:hover {
    border: 5px solid #ed1543;
  }

  .genres__btn {
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
    background: none;
    cursor: pointer;

    @include tablet {
      height: 35px;
    }
    @include mobileL {
      height: 30px;
    }
    img {
      height: 100%;
      filter: invert(100%);
    }
    &.close {
      float: right;
      margin-right: 10px;
      margin-top: 10px;
      height: 50px;
      @include tablet {
        top: 10px;
        right: 25px;
      }
      @include mobileL {
        top: 10px;
        right: 15px;
      }

      img {
        height: 40px;
        filter: invert(100%);

        @include tablet {
          height: 35px;
        }
        @include mobileL {
          height: 30px;
        }
      }
    }
  }

  .logo {
    height: 50px;
    cursor: pointer;
    width: 30%;
    img {
      height: 100%;
    }
  }

  .genres__sorting-wrapper {
    position: fixed;
    transform: translateX(100vw);
    opacity: 0;
    transition: opacity 0.3s ease-out;

    &.active {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      background-color: #111;
      transform: translateX(0);
      z-index: 4;
      margin-bottom: 100px;
      overflow: auto;
    }
  }

  .back {
    position: static;
    color: #fff;
    justify-content: start;
    width: 30%;

    @include tablet {
      font-size: 16px;
      img {
        height: 20px;
      }
    }
    @include mobileL {
      span {
        display: none;
      }
      img {
        height: 30px;
      }
    }
    img {
      filter: invert(100%);
    }
  }
}