.sorting {
    background-color: #5D534A;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;

    .sorting__btn{
        text-decoration: none;
        background-color: #fff;
        color: #000;
        width: fit-content;
        height: fit-content;
        padding: 5px 15px;
        border-radius: 15px;
        margin: 10px;
    }
}