.searchPage {
  .search__wrapper {
    background-color: #111;
    background-color: #ea2845;
  }

  .container {
    margin-top: 50px;
    .section__title {
      color: #111;
    }
  }
  .search__items {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
}
