@import '../../styles/mixins.scss';

.home__popular {
  background-color: #111;
  color: #fff;
  padding: 100px 0;

  @include mobileL {
    padding: 50px 0;
  }

  .section__title {
    margin-bottom: 50px;
  }
}

.search__wrapper {
  padding: 100px 0;
  background-color: #ea2845;
  .section__title {
    color: #fff;
  }
  @include mobileL {
    padding: 50px 0 70px;
  }
}
