.actor {
  position: relative;
  background: #fff;

  .section__title {
    margin-bottom: 50px;
  }

  .actor__card {
    display: flex;
    background-color: #222;
    color: #fff;
    width: 550px;
    height: 250px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    overflow: hidden;
    border-radius: 15px;

    .actor__img {
      height: 100%;
      width: 180px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .actor__info {
      text-align: left;
      font-size: 18px;
      padding: 10px 10px 5px 15px;
      .actor__info-name {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
      }
      .actor__info-birthday {
        margin-bottom: 10px;
      }
      .actor__info-age {
        margin-bottom: 10px;
      }
      .actor__info-death {
        margin-bottom: 10px;
      }
      .actor__info-place {
        // margin-bottom: 15px;
      }
    }
  }
}

.actor__movies {
  background-color: #111;
  padding: 100px 0;
  .container {
    display: flex;
    flex-wrap: wrap;
  }
}
