@import "../../styles/mixins.scss";

.movie {
  color: #fff;
}

.about__title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 50px;
  @include tablet {
    font-size: 26px;
  }
  @include mobileL {
    margin-bottom: 20px;
  }
}

.movie_credits {
  color: #111;
  padding: 50px 0;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  @include tablet {
    font-size: 16px;
  }
  span {
    font-weight: 700;
    margin-right: 3px;
  }
}

.credit__item {
  margin-bottom: 15px;
}

span.many {
  font-weight: 400;
  padding: 0;
  margin: 0;
  &:not(:first-child) + &:not(:first-child)::before {
    content: ", ";
  }
}

.actors__title {
  font-weight: 700;
  font-size: 32px;
  margin: 50px 0;
  color: #fff;
}

.actors {
  padding-top: 10px;
  background-color: #0a0a0a;
  .actors__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

.banner__info-mobile {
  display: none;
  margin: 50px 0;
  color: #111;
  text-align: left;

  @include mobileL {
    display: block;
  }

  .movie__title {
    color: #ea2845;
    text-align: center;
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 20px;
    @include tablet {
      font-size: 32px;
    }
  }

  .movie__descr {
    font-size: 20px;
    @include tablet {
      font-size: 16px;
    }
  }
}
